.player {
    display: flex;
    align-items: center;
    min-width: 200px;
    max-width: 300px;
    overflow: hidden;
    background-color: rgb(255 254 253 / 61%);
    
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;

    span {
        font-size: 24px;
        margin-left: 16px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        padding-bottom: 3px;
    }



    img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 100%;

    }
}

.player-active {
    background-color: orange !important;
}