<div class="start-screen">
    <img src="assets/img/start.jpg">
    <div class="start-label-container">
        <img (click)="newGame()" src="assets/img/start-button.png">
    </div>
</div>


<!-- <a href="https://www.flaticon.com/free-icons/start" title="start icons">Start icons created by Freepik - Flaticon</a> -->
<!-- <a target="_blank" href="https://icons8.com/icon/E2LI0GQ7_ToC/male-user">Male User</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> -->
<!-- <a target="_blank" href="https://icons8.com/icon/ZmWFAq0mS7su/female-profile">Female Profile</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> -->